body { background: #1ea528; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-database-0 { color: #a17a4; font-size: 15px; margin-bottom: 5px; }
.block-router-1 { color: #1b08a9; font-size: 16px; margin-bottom: 5px; }
.block-token-2 { color: #f18c06; font-size: 16px; margin-bottom: 5px; }
.block-helper-3 { color: #40a2b0; font-size: 20px; margin-bottom: 5px; }
.block-order-4 { color: #a5c011; font-size: 21px; margin-bottom: 5px; }